#
#   ALL RIGHTS RESERVED.
#   _________________________________________________________________________________
#   NOTICE: All information contained  herein is, and remains the property  of  Varga
#   Consulting and  its suppliers, if  any. The intellectual and  technical  concepts
#   contained herein are proprietary to Varga Consulting and its suppliers and may be
#   covered  by  Canadian and  Foreign Patents, patents in process, and are protected
#   by  trade secret or copyright law. Dissemination of this information or reproduc-
#   tion  of  this  material is strictly forbidden unless prior written permission is
#   obtained from Varga Consulting.
#
#   Copyright © <2018> Varga Consulting, Toronto, On          info@vargaconsulting.ca
#   _________________________________________________________________________________

*.[oa]
**/*.h5
**/*.pcap
**/*.aux
**/*.prof
docs/html/
data/
**/.ycm_extra_conf.py

examples/arma
examples/arma-partial
examples/raw
examples/stl
examples/string
examples/struct
profiling/gperf/arma-perf
profiling/gperf/stl-perf
profiling/gperf/struct-perf
profiling/grid-engine/bandwidth
tests/armadillo
tests/integral
tests/macros
tests/stl
tests/struct
tests/utils

build
CMakeLists.txt.user*
*~
*.swp
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
