#!/usr/bin/make -f

# This script uses debhelper by Joey Hess
# export DH_VERBOSE=1

ifneq ($(DEB_BUILD_MULTIARCH),$(DEB_HOST_MULTIARCH))
       export CC=$(DEB_HOST_MULTIARCH)-gcc
endif

%:
	dh $@

override_dh_auto_install:
	cmake -DCMAKE_INSTALL_PREFIX:PATH=$(CURDIR)/debian/libh5cpp-dev/usr ./
	make install

override_dh_installdocs:
	dh_installdocs		CONTRIBUTORS TODO

clean:

binary:

binary-arch:

binary-indep:

build:

build-arch:

build-indep:

