#!/usr/bin/make -f

# This script uses debhelper by Joey Hess
# export DH_VERBOSE=1

ifneq ($(DEB_BUILD_MULTIARCH),$(DEB_HOST_MULTIARCH))
       export CC=$(DEB_HOST_MULTIARCH)-gcc
endif

%:
	dh $@
override_dh_auto_configure:
	 dh_auto_configure -- -DCMAKE_INSTALL_PREFIX:PATH=/usr -DCMAKE_INSTALL_LIBDIR=lib

override_dh_installdocs:
	dh_installdocs		CONTRIBUTORS TODO
